<!DOCTYPE HTML>
<html>
<head>
    <title>Users</title>
</head>
<body>
<h1>{{ headline }}</h1>
<p></p>
{% from "_formhelpers.html" import render_field %}
<form action="/edit_user/{{ user.user_id }}" method="post" name="edit_user">
    <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.password) }}
        {{ render_field(form.perms) }}
        {{ form.submit }}
    </dl>
</form>
<script>
document.getElementById("name").value = '{{ user.user_name }}';
document.getElementById("password").value = '{{ user.user_pass }}';
document.getElementById("perms").value = '{{ user.user_role }}';

</script>
</body>
</html>