<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Log in:</h1>
<p></p>
{% from "_formhelpers.html" import render_field %}
<form action="/login" method="post" name="login">
    <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.password) }}
        {{ form.submit }}
    </dl>
</form>

</body>
</html>