<!DOCTYPE HTML>
<html>
<head>
    <title>Users</title>
</head>
<body>
<h1>{{ headline }}</h1>
<p></p>
{% from "_formhelpers.html" import render_field %}
<form action="/add_user" method="post" name="add_user">
    <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.password) }}
        {{ render_field(form.perms) }}
        {{ form.submit }}
    </dl>
</form>

</body>
</html>