<!DOCTYPE HTML>
<html>
<head>
    <title>User: {{ user_id }}</title>
</head>
<body>
<p>User: {{ user_id }}</p>
{% for item in permissions %}
<p>{{ item }} = {{ permissions[item] }}</p>
{% endfor %}
<p></p>
<table border="1">
    <tr>
        <th>user_id</th>
        <th>user_name</th>
        <th>user_pass</th>
        <th>user_perms</th>
        <th>adds inctructions</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.user_id}}</td>
        <td>{{item.user_name}}</td>
        <td>{{item.user_pass}}</td>
        <td>{{item.user_role}}</td>
        <td>
            <a href="/del_user/{{item.user_id}}">Remove</a>
            <a href="/edit_user/{{item.user_id}}">Edit</a>
            <a href="/login_as/{{item.user_id}}">Login</a>
        </td>
    </tr>
    {% endfor %}
</table>
<p></p>
<a href="/add_user">Add new user</a>
<p></p>
<a href="/logout">Logout</a>
</body>
</html>